/* 1. Forzamos la altura desde la raíz de React */
#root {
  width: 100%;
  height: 100vh; /* Usamos 100vh para asegurar que sea el 100% del alto de la ventana */
  display: flex;
  flex-direction: column;
}
/* 1. Fondo animado en toda la página */
.container {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  
  /* Tu fondo animado ahora en el contenedor principal */
  background: linear-gradient(270deg, #eeecff, #dfe3ff, #a1bfff);
  background-size: 600% 600%;
  animation: fondoMovible 15s ease infinite;
}

/* 2. Panel Imagen (Izquierdo) */
/* 2. Panel Imagen (Izquierdo) */
.panel-imagen {
  flex: 1;
  display: flex;
  flex-direction: column; /* Esto pone el eslogan arriba y el logo abajo */
  gap: 20px;
  padding: 20px;
  position: absolute; /* Saca el panel del flujo normal */
  top: -0px;          /* Distancia desde el borde superior */
  left: 0px;
  z-index: 5;
}
.panel-imagen img {
  width: 15%;
  transform: perspective(600px) rotateY(15deg);
  filter: drop-shadow(15px 15px 10px rgba(4, 3, 20, 0.3));
  transition: transform 0.5s ease;
 
}

.panel-imagen img:hover {
  transform: perspective(600px) rotateY(0deg) scale(1.1);
  filter: drop-shadow(20px 20px 15px rgba(0,0,0,0.4));
}

/* 3. Panel Formulario con fondo blanco */
.panel-formulario {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* El recuadro blanco del formulario */
  background: rgba(255, 255, 255, 0.95);
  margin: 5% auto;
  width: 100%;
  max-width: 600px;
  
  border-radius: 30px;
  box-shadow: 0 30px 60px rgba(123, 0, 255, 0.15);
  padding: 70px;
}

/* Animación del fondo (ahora aplicada al .container) */
@keyframes fondoMovible {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

/* Estilos de inputs y botón (dentro del recuadro blanco) */
.panel-formulario input {
  width: 100%;
  max-width: 350px;
  padding: 18px;
  margin: 12px 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 15px;
  background: #f9f9f9;
  font-size: 16px;
}

.panel-formulario button {
  width: 100%;
  max-width: 350px;
  padding: 18px;
  margin: 25px;
  background: #052fe9;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

